#cat_picture {
    max-width:30%;
    max-height:30%;
}

body {
    background: linear-gradient (
        to right,
        pink 0%,
        pink 50%,
        paleturquoise 50%,
        paleturquoise 100%
    );
}