body {
    background-color: pink;
}

#title_div {
    text-align: center;
}

#list_div {
    margin-top: 50px;
    text-align: center;
}

#list {
    list-style-type: disc;
    padding: 30px;
}

#cat_picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width:30%;
    max-height:30%;
}

#cat_table_div {
    margin-top: 50px;
}

#cat_table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#github_url_div {
    margin-top: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}